<!DOCTYPE html>
<html>
<head>
  <title>Leaderboard</title>

  <%= stylesheet_link_tag "qa" %>
  <%= stylesheet_link_tag "leaderboard" %>
  <%= javascript_include_tag "jquery-1.7" %>
  <%= csrf_meta_tags %>
</head>

<meta http-equiv="refresh" content="30">

<body>
  <div class="container_leaderboard">


<div class="page-header_leaderboard">
  <img class="logo_large" src="/assets/twlogo_large.png" alt="Thoughtworks" />
  <img src="/assets/purple_double_line_300ppi.png" alt="" />
</div>

    <div class="content_leaderboard">

  <p class="leaderboard_title">Leaderboard</p>
  <table id="player_leaderboard">
    <tr>
      <th>Rank #</th>
      <th>Player</th>
      <th>Company</th>
      <th>Time</th>
    </tr>

    <% @players.each_with_index do |player, index| %>
	  <tr>
        <td class="rank"><%= index.to_i + 1 %></td>
        <td class="player_name"><%= player.first_name + " " + player.last_name %></td>
        <td class="company"><%= player.company_name %></td>
        <td class="time"><%= player.timer.time_seconds.round(3) %></td>
      </tr>
    <% end %>
  </table>
<script>$("tr:odd").css("background-color", "#C97BBB");</script>

  <footer>
    <p>&copy; ThoughtWorks 2012</p>
  </footer>
</div>
</div>
</body>
</html>
