<div>

  <div id="login" class="register_form center">
		<%= semantic_form_for @player, :url => registered_login_path do |f| %>
			<%= f.input :email %>
			<%= f.actions do %>
				<%= f.action :submit, :label => 'Play', :button_html => {:class => 'btn large'} %>
			<% end %>
		<% end %>
  </div>

  <div class="center">
		<%= link_to 'Not registered? Click here to register', root_path, {:id => 'welcome'} %>
  </div>

	<br />
	<br />
</div>
