<!DOCTYPE html>
<html>
<head>
  <title>Twqa</title>

  <%= stylesheet_link_tag "qa" %>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "jquery-1.7" %>
  <%= javascript_include_tag "mustache" %>
  <%= javascript_include_tag "shuffle" %>
	<%= javascript_include_tag "timer" %>
	<%= javascript_include_tag "qa" %>
  <%= csrf_meta_tags %>

</head>
<body>
  <div class="container">
    <div class="content">

      <div class="page-header">
        <img src="/assets/twlogo.png" alt="Thoughtworks" />
        <img src="/assets/purplr_double_line.png" alt="" />
      </div>

      <%= yield %>

      <footer>
        <p>&copy; ThoughtWorks 2012</p>
      </footer>

    </div>
  </div>
</body>
</html>
