<!DOCTYPE html>
<html>
<head>
	<title>Leaderboard</title>
	<%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Open+Sans:400,700,300,300italic,400italic,700italic,800,800italic,600,600italic" %>
	<%= stylesheet_link_tag "application" %>

	<%= javascript_include_tag "jquery-1.7" %>
	<%= csrf_meta_tags %>

	<meta http-equiv="refresh" content="30">
</head>
<body>
	<header>
		<img class="logo" src="/assets/image/logo_small.png" width="500" height="151" alt="ThoughtWorks" />
	</header>

	<%= yield %>

	<footer>
		<p>&copy; ThoughtWorks 2014</p>
	</footer>
</body>
</html>
